<!doctype html>
<html>
<head>
	<title>AngularJS CRUD Operations with PHP and MySQL by CodexWorld</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">
	/* required style*/ 
	.none{display: none;}

	/* optional styles */
	table tr th, table tr td{font-size: 1.2rem;}
	.row{ margin:20px 20px 20px 20px;width: 80%;}
	.glyphicon{font-size: 20px;}
	.glyphicon-plus{float: right;}
	a.glyphicon{text-decoration: none;cursor: pointer;}
	.glyphicon-trash{margin-left: 10px;}
	.alert{
	    width: 50%;
	    border-radius: 0;
	    margin-top: 10px;
	    margin-left: 10px;
	}
	</style>
</head>
<base href="/app_1/">
<body>
<div ui-view></div>
<div class="container" ng-init="getRecords()">
    <div class="row">
    	<h2></h2>
        <div class="panel panel-default users-content">
            <div class="panel-heading">Users <a href="javascript:void(0);" class="glyphicon glyphicon-plus" onClick="$('.formData').slideToggle();"></a></div>
           
            	<center>
                <form class="form" name="userForm">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name" ng-model="tempUserData.name"/>
                    </div>
                    <div class="form-group">
                        <label>Lastname</label>
                        <input type="text" class="form-control" name="email" ng-model="tempUserData.email"/>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" name="phone" ng-model="tempUserData.phone"/>
                    </div>
                    
                </form>
                </center>
           
            <table class="table table-striped">
                <tr>
                    <th width="5%">#</th>
                    <th width="20%">Firstname</th>
                    <th width="30%">Lastname</th>
                    <th width="20%">Address</th>
                    <th width="10%"></th>
                </tr>
                <tr ng-repeat>
                    
                </tr>                                                  
            </table>
        </div>
    </div>
</div>
</body>
</html>
dsfksdjfga